@model IEnumerable<LesGamblers.Web.Models.Gamblers.CheckGamblersPredictionsViewModel>

@{
    ViewBag.Title = "ListGamblersResults";
}

<div class="text-center">
    <h2>All Gamblers Results</h2>
</div>

<br />

<div class="row">
    @Html.Action("_AllGamblersResultsPartial")

</div>

