<br />
<div class="text-center">
    <h2 id="viewTitle">Add your predictions</h2>
</div>

<div class="row">
    @Html.Action("AddPredictionCachedData")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/common/dropdowns.js"></script>
    <script src="~/Scripts/predictions/addPrediction.js"></script>
}